@import './colors';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

.main {
    display: flex;
    height: 100vh;
    font-family: 'Roboto','sans-serif';
    background-color: $purple;
}

.content-home{
    padding: 15px;
    background-color: #E1E1E1;
}

.title_pages{
    font-size: 25px;
}